spring:
  datasource:
    url: 'jdbc:mysql://localhost:3306/rutapp_db?serverTimezone=UTC'
    username: "grupo2"
    password: grupo2
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.format_sql: true
